body::-webkit-scrollbar  {
    width: 0.2em;
}

::-webkit-scrollbar-thumb { 
    background-color: #4A4A4A;
 }
 body::-webkit-scrollbar-track {
    background-color: #DBDBDB;
}

/* #branding {
    color: #00D1B2;
} */

/***********************************REFERENCEs***********************************
https://css-tricks.com/custom-scrollbars-in-webkit/ --SCROLLBAR 
*/